{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ object|yesno:"Редагувати, Створити" }} статус</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-body">
                    <label class="form-label">Назва статусу </label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                {{ form.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Зберегти</button>
                        <a href="{% url 'tickets:statuses-list' %}" type="reset" class="btn btn-dark">Скасувати</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}